.button_el_save_disabled {
  opacity: 0.2;
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
}

.button_el_save_disabled:hover {
  cursor: default;
  opacity: 0.2;
}
