@media screen and (max-width: 918px) {
  .content {
    padding-left: 19px;
    padding-right: 19px;
  }
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.button {
  box-sizing: border-box;
  background-color: transparent;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: opacity .3s;
  border: none;
}





