.profile {
  max-width: 880px;
  min-height: 120px;
  padding-bottom: 51px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 918px) {
  .profile {
    max-width: 282px;
    margin: 0 auto;
    padding-bottom: 36px;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.profile__info {
  max-width: 336px;
  padding-top: 22px;
  padding-left: 30px;
}

@media screen and (max-width: 918px) {
  .profile__info {
    max-width: 282px;
    width: 100%;
    padding-top: 26px;
    padding-left: 0;
  }
}

.profile__box {
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
}

.profile__author {
  max-width: 294px;
  margin: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
}

@media screen and (max-width: 918px) {
  .profile__author {
    max-width: 189px;
    font-size: 27px;
    line-height: 33px;
    padding-left: 28px;
    padding-right: 10px;
  }
}

.button__edit {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  margin: 15px 0 0 18px;
  padding: 0;
}

@media screen and (max-width: 918px) {
  .button__edit {
    width: 18px;
    height: 18px;
    margin-top: 8px;
    margin-left: 0;
  }
}

.button__edit:hover {
  opacity: 0.6;
}

.button__edit-icon {
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 918px) {
  .button__edit-icon {
    width: 8px;
    height: 8px;
  }
}

.profile__slogan {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  padding-bottom: 18px;
}

@media screen and (max-width: 918px) {
  .profile__slogan {
    font-size: 14px;
    line-height: 1.21;
    padding-bottom: 32px;
    text-align: center;
  }
}

.button__add {
  max-width: 150px;
  width: 100%;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  align-self: center;
  margin-left: auto;
  padding: 12px 0;
}

.button__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 918px) {
  .button__add {
    max-width: 282px;
  }
}

.button__add-icon {
  width: 22px;
  height: 22px;
}

@media screen and (max-width: 918px) {
  .button__add-icon {
    width: 16px;
    height: 16px;
  }
}