.elements {
  padding-bottom: 67px;
  max-width: 880px;
  margin: 0;
}
@media screen and (max-width: 918px) {
  .elements {
    padding-bottom: 48px;
  }
}

.elements__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
}

.element__item {
  max-width: 282px;
  max-height: 361px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
}

.element__picture {
  max-width: 282px;
  max-height: 282px;
  width: 100%;
}

.element__info {
  max-width: 241px;
  padding: 25px 20px 28px 21px;
  display: flex;
  justify-content: space-between;
}

.element__title {
  margin: 0;
  max-width: 194px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.20;
  color: #000000;
}

.button__like {
  background: url(../../images/like.svg) no-repeat;
  background-size: 100%;
  width: 22px;
  height: 19px;
  align-self: center;
}

.button__like:hover {
  opacity: 0.5;
}

.button__like_active {
  background: url(../../images/like-active.svg) no-repeat;
  width: 22px;
  height: 19px;
  opacity: 1;
}

.button__like_active:hover {
  opacity: 1;
}
