.button__add {
  max-width: 150px;
  width: 100%;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  align-self: center;
  margin-left: auto;
  padding: 12px 0;
}

.button__add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 918px) {
  .button__add {
    max-width: 282px;
  }
}